.control {
    display: flex;
    gap: 1em;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.form_item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.language {
    width: max-content;
}

.language_btn.language_btn__selected {
    background: var(--button-background-color__primary);
}

.label, .alert {
    padding: 0;
    margin: 0;
}

.container {
    gap: 1.5em;
    display: grid;
    margin: 1.5em;
}

select.language_select {
    --options-max-width: 11.3125em;
    max-width: 11.3125em;
}

.control {
    display: flex;
    gap: 1.5em;
}