.button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: var(--button-background-color);
    color: var(--root-color);
}

.button:disabled {
    color: var(--button-color__disabled);
}

.button:hover {
    border-color: var(--button-border-color);
}

.button.button__primary {
    background: var(--button-background-color__primary);
}
