.control {
    display: flex;
    gap: 1em;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.form_machine_name {
    display: grid;
    grid-template-columns: minmax(0, 500px);
}