.input {
    border-radius: 8px;
    border: 1px solid var(--root-border-color);
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: border-color 0.25s;
    color: var(--root-color);
    background-color: var(--input-background-color);

    --root-border-color: transparent;
    --root-border-color__hover: var(--input-border-color__hover);
    --root-border-color__focus: var(--input-border-color__focus);
}

.input:hover {
    border-color: var(--root-border-color__hover);
}

.input:focus,
.input:focus-visible {
    outline: none;
    border-color: var(--root-border-color__focus);
}
