:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: var(--root-color);
  background-color: var(--root-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-cornflower-100: #646cff;
  --color-cornflower-15: rgba(100, 108, 255, 0.15);
  --color-cornflower-30: rgba(100, 108, 255, 0.3);

  --color-light: #f9f9f9;

  --root-focus-outline-color: #535bf2;
  --root-background: #ffffff;
  --root-color: #213547;
  --link-color: var(--color-cornflower-100);
  --link-color__hover: #747bff;

  --button-background-color: var(--color-light);
  --button-background-color__primary: var(--color-cornflower-15);
  --button-border-color: var(--color-cornflower-100);
  --button-color__disabled: #b3b6c5;

  --input-background-color: var(--color-light);
  --input-color__disabled: rgba(16, 16, 16, 0.3);
  --input-border-color__hover: var(--color-cornflower-100);
  --input-border-color__focus: var(--color-cornflower-100);
  --root-border-color__changed: var(--color-cornflower-30);
  --root-border-color__changed_hover: var(--color-cornflower-100);
  --root-border-color__changed_focus: var(--color-cornflower-100);

  --icon-fill-color: var(--color-cornflower-100);
  --icon-fill-color__disabled: rgba(16, 16, 16, 0.3);

  --footer-background-color: var(--color-light);
  --scrollbar-track-color: var(--color-cornflower-100);
  --scrollbar-thumb-color: var(--color-cornflower-15);
  --message-background-color: var(--color-cornflower-15);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-color__hover);
}

:focus-visible {
  outline: var(--root-focus-outline-color) auto 1px;
}

:root.dark, :root.default.default_dark {
  --color-cornflower-100: #747bff; 
  --color-cornflower-15: rgba(116, 123, 255, 0.15);
  --color-cornflower-30: rgba(116, 123, 255, 0.3);

  --color-light: #2a2a2a; 

  --root-focus-outline-color: #646cff;
  --root-background: #121212;
  --root-color: rgba(255, 255, 255, 0.87);

  --icon-fill-color: var(--color-cornflower-100);
  --link-color__hover: #535bf2;
  --input-color__disabled: rgba(255, 255, 255, 0.15);
  --button-color__disabled: #4a4d5e;
  --icon-fill-color__disabled: rgba(255, 255, 255, 0.15);
}

body {
  margin: 0;
}